*{
    background: url(../img/海滩.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#max{
    width: 90%;
    margin: 0 auto;
}
#top{
    min-height: 500px;
    font-size: 62.5%;
    background-size:cover;
}
#top a{
    text-decoration: none ;
    float: right;
    margin: 0 20px;
    color: peru;
    font-weight: bold;
    font-size: 26px;
}
#top a:hover,a:active{
    color: aqua;
}

#div1 {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    width:50%;
    margin: 0 250px;
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.di1{
    width: 90%;
    min-height: 400px;
    margin-top: 10px;
}
.left{
    width: 400px;
    margin: 30px 80px;
    float: left;
    size: 16px;
}
.left img{
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border-style: double;
    border-color: seashell;
}
.right{
    width: 40%;
    float: right;
    color: #000000;
    border-style: ridge;
    text-indent: 2em;
    line-height: 32px;
    padding: 20px 20px;
}
.texty{
    width: 110%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;

}
.texty h2{
    margin: 0px auto;
    color: #000000;
}